body {
    background-image: url(IMG/фон2!.jpg); 
    background-repeat: no-repeat; 
}  

.navbar {
    background-color: #ee88ee;
    overflow-y: hidden;  
    float: left;
    position: absolute;
    right: 0;
    left: 0;  
}
.nav-links {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    right: 0;
    left: 0;
}
.nav-links li{
    float: left;
    text-decoration: underline;
    
}.nav-links a {
    display: block;
    color: white;
    text-align: left;
    padding: 10px 20px;
    text-decoration: underline;
}
button {
    background-color: #ee88ee;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;

}
button:hover {
    background-color:  #ff335f;
}
main {
    margin: 0;
    font-family: Arial, sans-serif;
}

.slider {
    margin: auto;
}

.text {
    position: absolute;
    top: 50px;
    left: 0px;
}
.text1 {
    position: absolute;
    top: 90px;
    left: 0px;
}

.absolute-text {
    position: absolute;
    top: 170px;
    left: 30px;
}
.text2 {
    position: absolute;
    top: 210px;
    left: 10px;
}
.text3 {
    position: absolute;
    top: 250px;
    left: 10px;
}
.text4 {
    position: absolute;
    top: 290px;
    left: 10px;
}
.text5 {
    position: absolute;
    top: 330px;
    left: 10px;
}
.text6 {
    position: absolute;
    top: 370px;
    left: 10px;
}
.text7{
    position: absolute;
    top: 590px;
    left: 10px;
}
.portret{
    position: absolute;
    right: 0;
    left: 1150px;
    top: 100px;
}
footer {
    float: left;
    background-color: #ee88ee;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    right: 0;
    left: 0;
    
}
